@import 'tailwindcss';

@theme {

  /* Color background customized*/
  --color-dark-brown: #513505;

  /* Imported fonts */
  --font-patrick-hand: 'Patrick Hand', cursive;
  --font-euphoria-script: 'Euphoria Script', cursive;
  --font-pirata-one: 'Pirata One', cursive;

}