@import 'tailwindcss';

@theme {

  /* Color background customized*/
  --color-dark-brown: #513505;
  --color-light-brown: #F3E3C2;

  /* Imported fonts */
  --font-patrick-hand: 'Patrick Hand', cursive;
  --font-euphoria-script: 'Euphoria Script', cursive;
  --font-pirata-one: 'Pirata One', cursive;

  /* Background images */
  --background-image-presentation: url('/images/background/background-presentation-euforie.svg');

}